<mat-table [dataSource]="data" matSort (matSortChange)="sortData($event)">
  <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
    <ng-container *ngIf="column.canSort; else noSort">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ column.key }}">
        {{ column.key }}
      </th>
    </ng-container>
    <ng-template #noSort>
      <th mat-header-cell *matHeaderCellDef>{{ column.key }}</th>
    </ng-template>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="column.editable && selection.isSelected(element); else noEdit">
        <input
          matInput
          matMoneyInput
          type="text"
          [value]="element[column.key]" 
          (change)="rowUpdate($event, element, column.key)"
          />
      </ng-container>
      <ng-template #noEdit>
        {{ element[column.key] }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="rowClicked(row)" [ngClass]="{'selected': selection.isSelected(row)}"></tr>
</mat-table>
